<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Apple Retail Stores</title>

<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA3wAYtMpwXTd-PQv4ZpZRmhTJQa0g3IQ9GZqIMmInSLzwtGDKaBS2C5ay-CYTpdFcZWDGGOa1YCbeDA&sensor=false"
        type="text/javascript">
</script>

<script src="../jquery-1.2.6.min.js" type="text/javascript"></script>
<script src="../jquery.scrollTo-1.4.0-min.js" type="text/javascript"></script>
<script src="../jquery.serialScroll-1.2.1-min.js" type="text/javascript"></script>
<script src="../jquery.localscroll-1.2.6-min.js" type="text/javascript"></script>
<script src="../thickbox-compressed.js" type="text/javascript"></script>
<script type="text/javascript">
var stores = <%= @stores_hash.to_json %>;
var stores_by_year_month = <%=  @stores_by_year_month.to_json %>;
var counts_by_year_month = <%=  @counts_by_year_month.to_json %>;
var stores_by_year = <%=  @stores_by_year.to_json %>;
var counts_by_year = <%=  @counts_by_year.to_json %>;
</script>
<script src="../applestore.js" type="text/javascript"></script>
<link type="text/css" href="../applestore.css" rel="stylesheet">
</head>
<body>

<div id="container">
	<div id="header">
		<div class="module-content">

		<div id="slider">
		 <h2><strong class="number"><%= @stores.size %></strong> Apple retail stores (by opening date)</h2>
		 <p class="maxcount">Peak of this chart: <%=h @max_count %> stores</p>

		<ul class="navigation">
	  	   <% @year_list.each do |year| %>	
	                <li><a href="<%= '#' + year.to_s %>"><%= year %></a></li>
		   <% end  %>
	    </ul>	

	  <div class="scroll">
	  <div class="scrollContainer">
		<table >
		<tbody>
		<tr>
	<% @year_list.each do |year| %>	
	  <% (1..12).to_a.each do |month| %>
	   <td><div class='day'>
		<% if @counts_by_year_month["#{year}-#{month}"] %>
		<a class="month" id="<%= "#{year}-#{month}" %>" title="<%= "#{Date::MONTHNAMES[month]}, #{year}: #{@counts_by_year_month[year.to_s+'-'+month.to_s]} total" %>" href="#">
		 <strong class="label"><%= Date::ABBR_MONTHNAMES[month] %></strong>
		<span class="bar" style="height: <%= (@counts_by_year_month["#{year}-#{month}"] * 100) / @max_count %>%;"></span></a>
		 <% else  %>
	 	 <strong class="label"><%= Date::ABBR_MONTHNAMES[month] %></strong>
		 <span style="height: 0px;"> </span> 
		 <% end %>
		 </div></td>
	  <% end %>
	<% end %>	
		</tr>	
		<tr>
		<% @year_list.each do |year| %>	
		   <th class="panel" id="<%= year %>" colspan="12">
	 	   <% if @counts_by_year[year] %>	   	
	       	  <a class="year" id="year_<%= year %>" title="<%= "#{year}: #{@counts_by_year[year]} total" %>" href="#"> <%= year %></a>
		<% else %>
		      <span> </span>
		<% end  %>
		   </th>
		<% end %>
		</tr>
		</tbody>
		</table>
		</div></div>

		</div>
			</div>	

	</div>
	<div id="content">
		<div id="map"></div>  
	</div>	
	<div id="footer">
		<p>This apple retail store map incorporates information from many sources about location, opening date, original website of each retail store. At the Apple stores you can get help buying a new Mac, an iPod, accessories, or software. You can also get technical help for your Mac. These are typically beautiful stores in nice areas -- definitely worth visiting!
		<span id="debug"></span></p>
	</div>
</div>	

  
</body>
</html>
