<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<title>Google Maps JavaScript API Example</title>
<%
=begin
%>
<script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA3wAYtMpwXTd-PQv4ZpZRmhTJQa0g3IQ9GZqIMmInSLzwtGDKaBS2C5ay-CYTpdFcZWDGGOa1YCbeDA&sensor=false"
        type="text/javascript">
</script>
<% 
=end
%>
<%= javascript_include_tag 'jquery-1.2.6.js' %>
<%= javascript_include_tag 'jquery.scrollTo-1.4.0-min.js' %>
<%= javascript_include_tag 'jquery.serialScroll-1.2.1-min.js' %>
<%= javascript_include_tag 'jquery.localscroll-1.2.6-min.js' %>
<%= javascript_include_tag 'thickbox-compressed.js' %>
<script src="http://jqueryfordesigners.com/demo/jquery-ui-full-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
<style type="text/css" media="all">
@import "/javascripts/thickbox.css";
</style>

<script type="text/javascript">
var stores = <%= @stores_hash.to_json %>;
var stores_by_year_month = <%=  @stores_by_year_month.to_json %>;
var counts_by_year_month = <%=  @counts_by_year_month.to_json %>;
var stores_by_year = <%=  @stores_by_year.to_json %>;
var counts_by_year = <%=  @counts_by_year.to_json %>;

var map;
var centerLatitude = 49.282484;
var centerLongitude = -123.118145;
var startZoom = 1;
var markers = [];


$(document).ready( function() {


// tb_show('testing title', "http://www.vsb.bc.ca/?KeepThis=true&TB_iframe=true&height=460&width=680", false)
    handleResize();
	if (GBrowserIsCompatible()) {
		map = new GMap2(document.getElementById("map"));
		map.addControl(new GLargeMapControl());
		map.addControl(new GMapTypeControl());
		
		var location = new GLatLng(centerLatitude, centerLongitude);
	    map.setCenter(location, startZoom);

    }

	$("a[@class='month']").click( function(e) { 
	   showMarkers(e, this); })


});



   function showMarkers(event, el) {
  	
	    var key = el.id;
		console.log(key);
		
		map.clearOverlays();
		markers = []
	    // Add stores markers
		for (s in stores_by_year_month[key]) {
			store = stores[stores_by_year_month[key][s]]['store']
			console.log(store['title']);
			
			addMarker(store['lat'], store['lng'], store['title'], store['url']);
		}
		
	/*
        var pt_ne = new GLatLng( borders[yr]['ne'][0], borders[yr]['ne'][1]);
        var pt_sw = new GLatLng( borders[yr]['sw'][0], borders[yr]['sw'][1]);
		var bounds = new GLatLngBounds( pt_sw, pt_ne );
		map.clearOverlays();
	    map.setCenter( bounds.getCenter(), 2);
		//map.addOverlay(new GMarker(pt_ne));
		//map.addOverlay(new GMarker(pt_sw));

	    // Add stores markers
		for (s in stores_by_year[yr]) {
	      store = stores[ stores_by_year[yr][s] ]['store']
		  console.log( store['lat']    );	
		  var point = new GLatLng( store['lat'],store['lng']);
		  map.addOverlay(new GMarker(point));
		}
*/		
	}

function addMarker(lat, lng, description, url){
  var marker = new GMarker( new GLatLng( lat,lng),
        {title: description});
console.log(url);
  GEvent.addListener(marker,'click', 
     function() {

		tb_show(description, url+"?KeepThis=true&TB_iframe=true&height=460&width=680", false)	 	
		
	 	//marker.openInfoWindowHtml( description )
	 } 
  );		  
/*  
  GEvent.addListener(marker,'mouseover', 
    function() {
		
		marker.openInfoWindowHtml( "<div style=width:200px;height=50px;>Home</div>",
		  { pixelOffset: new GSize(0,0)}
		 )
	 	$('#debug').html( description );

	 } 
  );		  
  GEvent.addListener(marker,'mouseout', 
    function() {
		marker.closeInfoWindow();
	 	$('#debug').html( '' );
		tooltip.style.visibility="hidden"
	 } 
  );		  
*/

  
  map.addOverlay( marker );
	
}


 // ====== This function displays the tooltip ======
      // it can be called from an icon mousover or a side_bar mouseover


function windowHeight() {
	// Standard browsers (Mozilla, Safari, etc.)
	if (self.innerHeight)
		return self.innerHeight;
	// IE 6
	if (document.documentElement && document.documentElement.clientHeight)
		return y = document.documentElement.clientHeight;
	// IE 5
	if (document.body)
		return document.body.clientHeight;
	// Just in case.
		return 0;
}
function handleResize() {
	var height = windowHeight();
	height -= (document.getElementById('header').offsetHeight + 
            	document.getElementById('footer').offsetHeight);
	document.getElementById('map').style.height = height + 'px';
	
	$('#debug').html(height);

}

$(window).bind('resize', handleResize);

// Slider related 
window.onload = function () {
    var container = $('div.module-content');
    var ul = $('table.calendarchart', container);
    
    var itemsWidth = ul.innerWidth() - container.outerWidth();
console.log(itemsWidth);    
    $('.slider', container).slider({
        min: 0,
        max: itemsWidth,
        handle: '.handle',
        stop: function (event, ui) {
            ul.animate({'left' : ui.value * -1}, 500);
        },
        slide: function (event, ui) {
            ul.css('left', ui.value * -1);
        }
    });
};

</script>

<style type="text/css">

html, body {
	background:#FFFFFF none repeat scroll 0 0;
	color:#2B332E;
	font-family:Arial,sans-serif;
	height:100%;
	line-height:1.4;
	width:100%;
	margin: 0;
	padding: 0;
}

div#container {
	position:relative; /* needed for footer positioning*/
	margin:0 auto; /* center, not in IE5 */
	width:750px;
	background:#f0f0f0;
	
	height:auto !important; /* real browsers */
	height:100%; /* IE6: treaded as min-height*/

	min-height:100%; /* real browsers */
}

div#header {
	padding:1em;
	background:#ddd url("../csslayout.gif") 98% 10px no-repeat;
	border-bottom:6px double gray;
	height:200px;
	
}

div#content {
/* padding:1em 1em 5em; */ /* bottom padding for footer */


}

#map {
  border: 1px solid red;	
  width:100%;
  overflow: hidden;

}

div#footer {
	position:absolute;
	width:100%;
	bottom:0; /* stick to bottom */
	background:#ddd;
	border-top:6px double gray;
}



a {
  color:#2D7BB2;
  text-decoration: none;
}
a:hover {
color:#2B332E;
}



/* CALENDAR CHARTS */
table {
border-collapse:collapse;
border-spacing:0;
}

.module-content {
	
border:1px solid #C0CCC4;
position: absolute;
overflow: none; 
white-space: nowrap;
padding: 0.1em 16px;
margin: 2px 10px;
	height:200px;

}

.calendarchart {

overflow:none;
position:relative;


}
.calendarchart h3, .calendarchart h2 {
clear:left;
float:left;
margin:0.5em 16px 0.25em 0;
}

.calendarchart .maxcount {
color:#A8B2AC;
font-size:0.75em;
margin:1em 0 0;
text-align:right;
}
.calendarchart ul {
clear:both;
font-size:0.75em;
margin:0;
}

.calendarchart li {
margin:0;
padding: 0;
border:0 none;

}

.calendarchart li .yearlabel {

padding-top:2.5em;
}
.calendarchart li .yearlabel a {
/* color:#808C85; */
font-weight:bold;

}
.calendarchart li .yearlabel a:hover {
/* color:#2B332E; */
}
.calendarchart ul.month { 
	display: inline;
}	
	
.calendarchart ul.month li {
	display: inline;
	width: 2.2em;
}

.calendarchart ul.month div {
	display: inline;
	width: 2.2em;
}


.calendarchart ul li {
	height:200px;
	width: 2.2em;
}


.calendarchart li .day {
border-bottom:1px solid #DBE6DF;
border-top:1px solid #DBE6DF;
color:#808C85;
font-weight:bold;
height:100px;
padding:2px 2px 0; 
position:relative;
text-align:center;
vertical-align:bottom;
width: 2.2em;	

}
.calendarchart li .day a {
/* display:block; */
height:100%;
width: 2.2em;
position:relative;
}
.calendarchart li .day .label {
bottom:-2em;
left:0;

text-align:center;
width:100%;
}
.calendarchart li .day .bar {
background:#A8B2AC none repeat scroll 0 0;
border-bottom:1px solid #A8B2AC;
bottom:0;
/* display:block; */
overflow:hidden;

text-indent:-9999px;
width:100%;
}

.calendarchart li .day .bar:hover {
background:#2D7BB2 none repeat scroll 0 0;
border-color:#2D7BB2;
}

.calendarchart ul.month {
	
    list-style: none;
    overflow: none;
    white-space: nowrap;
    padding: 0 10px;
    margin: 0;
}




/* Slider */
.slider {
    height: 17px;
    padding: 1px;
    position: relative;
    background: url(http://jqueryfordesigners.com/demo/images/productbrowser_scrollbar_20070622.png) no-repeat;
}

.handle {
    position: absolute;
    cursor: move;
    height: 17px;
    width: 181px;
    top: 0;
    background: url(http://jqueryfordesigners.com/demo/images/productbrowser_scroller_20080115.png) no-repeat;
    z-index: 100;
}

.slider span {
    color: #bbb;
    font-size: 80%;
    cursor: pointer;
    position: absolute;
    z-index: 110;
    top: 3px;
}

.slider .slider-lbl1 {
    left: 50px;
}

.slider .slider-lbl2 {
    left: 107px;
}

.slider .slider-lbl3 {
    left: 156px;
}

.slider .slider-lbl4 {
    left: 280px;
}

.slider .slider-lbl5 {
    left: 455px;
}


</style>
</head>
<body>


<div id="container">

<div id="header">
	<div class="module-content">
	<div class="calendarchart">
	<h2><strong class="number"><%= @stores.size %></strong> stores</h2>
	<p class="maxcount">Peak of this chart: <%=h @max_count %> stores</p>
<ul class="month">
<% @year_list.each do |year| %>	
  <% (1..12).to_a.each do |month| %>
   <li>
   <div class='day'>
	<% if @counts_by_year_month["#{year}-#{month}"] %>
	<a class="month" id="<%= "#{year}-#{month}" %>" title="<%= "#{Date::MONTHNAMES[month]}, #{year}: #{@counts_by_year_month[year.to_s+'-'+month.to_s]} total" %>" href="#"><strong class="label"><%= Date::ABBR_MONTHNAMES[month] %></strong>
	<span class="bar" style="height: <%= (@counts_by_year_month["#{year}-#{month}"] * 100) / @max_count %>%;">( total)</span></a>
	 <% else  %>
 	 <strong class="label"><%= Date::ABBR_MONTHNAMES[month] %></strong>
	 <span style="height: 0px;"> </span> 
	 <% end %>
	 </div>
	</li>
  <% end %>
<% end %>	
	</ul>
	<ul class='year'>
	<% @year_list.each do |year| %>	
	   <li class="yearlabel" id="year_<%= year %>" colspan="12">
 	   <% if @counts_by_year[year] %>	   	
       	  <a class="year" title="<%= "#{year}: #{@counts_by_year[year]} total" %>" href="/crime/by-date/2008/12/"><%= year %></a>
	<% else %>
	      <span> </span>
	<% end  %>
	   </li>
	<% end %>
	</ul>
	</div>
		</div>	
	<div class="slider">
	    <!-- the handler to action the slide -->
	    <div class="handle"></div>
	    <!-- labels appear against the slider, as pointers to the user -->
	    <span class="slider-lbl1">slider label 1</span>

	    <span class="slider-lbl3">slider label 3</span>
		    <span class="slider-lbl4">slider label 3</span>
			    <span class="slider-lbl5">slider label 3</span>
	  </div>

</div>
<div id="content">
	<div id="map"></div>  
</div>	
<div id="footer">
	<p><span id="debug"></span>
				This footer is absolutely positioned to bottom:0; of  #container. The padding-bottom of #content keeps me from overlapping it when the page is longer than the viewport.
			</p>
</div>
</div>	

  
</body>
</html>
