<p>
  <b>Code:</b>
  <%=h @district.code %>
</p>

<p>
  <b>Title:</b>
  <%=h @district.title %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @district.mailing_address %>
</p>

<p>
  <b>Mailing city:</b>
  <%=h @district.mailing_city %>
</p>

<p>
  <b>Mailing province:</b>
  <%=h @district.mailing_province %>
</p>

<p>
  <b>Mailing postal:</b>
  <%=h @district.mailing_postal %>
</p>

<p>
  <b>Address:</b>
  <%=h @district.address %>
</p>

<p>
  <b>City:</b>
  <%=h @district.city %>
</p>

<p>
  <b>Province:</b>
  <%=h @district.province %>
</p>

<p>
  <b>Postal:</b>
  <%=h @district.postal %>
</p>

<p>
  <b>Website:</b>
  <%=h @district.website %>
</p>

<p>
  <b>Phone:</b>
  <%=h @district.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @district.fax %>
</p>


<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
