<p>
  <b>District:</b>
  <%=h @school.district_id %>
</p>

<p>
  <b>Code:</b>
  <%=h @school.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @school.name %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @school.mailing_address %>
</p>

<p>
  <b>Mailing city:</b>
  <%=h @school.mailing_city %>
</p>

<p>
  <b>Mailing province:</b>
  <%=h @school.mailing_province %>
</p>

<p>
  <b>Mailing postal:</b>
  <%=h @school.mailing_postal %>
</p>

<p>
  <b>Address:</b>
  <%=h @school.address %>
</p>

<p>
  <b>City:</b>
  <%=h @school.city %>
</p>

<p>
  <b>Province:</b>
  <%=h @school.province %>
</p>

<p>
  <b>Postal:</b>
  <%=h @school.postal %>
</p>

<p>
  <b>Phone:</b>
  <%=h @school.phone %>
</p>

<p>
  <b>Fax:</b>
  <%=h @school.fax %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
